@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Rubik+Mono+One&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    background-color: black;
    padding: 0.1em;
    font-family: 'Rubik Mono One', sans-serif;

}

nav li {
    display: inline-block;
    margin: 0.5em;
}

nav li a {
    text-decoration: none;
    color: whitesmoke;
}

nav li:hover {
    transform: scale(1.1);
}

.logo {
    width: 50%;
    margin: 3em;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-size: 4em;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}


#playerGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30em;

}

#playerGrid img {
    width: 20%;
    height: auto;
    padding: 1em;
}

#P1case {
    background-color: rgba(205, 92, 92, 0.3);
    width: 50%;
}

#P2case {
    background-color: rgba(135, 206, 250, 0.3);
    width: 50%;

}

#BOTcase {
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
}

h4 {
    font-size: xx-large;
    margin: 0.5em;
}


#rockButton {
    background: url("./assets/img/roYellow.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#paperButton {
    background: url("./assets/img/paYellow.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#scissorsButton {
    background: url("./assets/img/scYellow.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.moveButton {
    width: 56px;
    height: 56px;
    border: none;
    outline: none;
    margin: 1em;
    transition: .1s;

}

.moveButton:hover {
    transform: scale(1.1);
}

.moveButton:active {
    transform: scale(0.9);
}

.playerScore {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: x-large;
    margin: 0;
}

#winPopUp {
    background: #FFFFFF;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#winPopUp h4 {
    font-weight: lighter;
}

#winnerName {display: inline-block;
    font-size: xx-large;
    font-weight: 900;
    margin: 0.3em;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    margin: 0.1em;
}

/* ronds à cliquer */
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;
    position: relative;
    background: none;
    color: #00000000;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    transition: .3s;
}

/* survol des ronds */
input[type=radio]:hover {
    transition: .3s;
    color: rgba(0, 0, 0, 0.45);
}

/* ajout de la checkmark au rond cliqué */
input[type=radio]::before {
    position: absolute;
    font: 16px/1 'Open Sans', sans-serif;
    left: 4px;
    top: 2px;
    content: '►';
    /* suite de caractères de la flèche */
}

input[type=radio]:checked {
    color: #000000;
}

#buttonStartGame {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    height: 3em;
    margin: 1em;
    background-color: black;
    font-size: x-large;
    color: #FFF;
    border: none;
}

#buttonStartGame:active {
    transform: scale(0.9);
}